config.json
playlist_raw.json
tvg_mapper.json
user_token.log
playlist_token.json
last_raw_playlist_hash.txt
*.m3u
playlist_data.json
playlist_zz.json
epg.xml
epg_cache/
epg_cache_external/
cc.xml
*.pyc
.idea
generator.json